<div
  class="mx-auto w-full max-w-[1320px] px-5 lg:px-10 py-5 lg:py-10 bg-new-charcoal-primary text-new-off-white-100"
>
  <div class="text-center">
    <h2
      class="block font-amiri font-light text-new-gray-400 text-4xl md:text-5xl mb-14"
    >
      Leverage the resources of a seasoned team.
    </h2>
    <div class="mx-auto w-full max-w-[870px] px-5 lg:px-10 text-center">
      <div class="text-2xl mb-24">
        With 100+ years of collective investing experience and a high-value
        network, 10 East is built upon expertise, quality connections, and
        integrity.
      </div>
    </div>
    <div
      class="flex flex-col place-content-center gap-8 lg:flex-row mx-auto mb-8 last:mb-0 lg:pt-22 max-w-[580px] lg:max-w-none"
    >
      <div class="flex flex-col">
        <div class="lg:basis-1/3">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/79095c99dd3b26177113eb902c06e8160cfd96cd-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/79095c99dd3b26177113eb902c06e8160cfd96cd-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/79095c99dd3b26177113eb902c06e8160cfd96cd-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Michael Leffell
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">
            Founder &amp; Chairman<br />Former Deputy Executive Managing Member
            of Davidson Kempner
          </div>
          <a
            onclick="openModal(0)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="full-bio text-new-gold-primary cursor-pointer"
            data-cy="team-bio-michael-leffell"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
        <div
          role="separator"
          class="mx-auto my-8 w-full md:w-1/3 h-[1px] text-new-gray-150/25 bg-current"
        ></div>
        <div class="lg:basis-1/3 mt-6 hidden lg:block">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Jason Gregory
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">
            Chief Operating Officer
          </div>
          <a
            onclick="openModal(1)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="full-bio text-new-gold-primary cursor-pointer"
            data-cy="team-bio-jason-gregory"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
        <div class="lg:basis-1/3 mb-12 pb-2.5 lg:hidden">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Sam Klatt
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">
            Chief Investment Officer
          </div>
          <a
            onclick="openModal(2)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="text-new-gold-primary cursor-pointer"
            data-cy="team-bio-sam-klatt"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        style="border-left: none; border-right: none"
        class="lg:-mt-22 lg:flex lg:flex-col lg:justify-center lg:basis-1/3 lg:border-dotted border-new-gray-150 border-x border-y-0 lg:px-8"
      >
        <div
          class="border-dotted border-0 border-t last:border-b lg:first:border-t-0 lg:last:border-b-0 border-[#666666] py-8"
        >
          <div class="text-[116px] leading-none">
            $1B<sup class="text-4xl align-top">+</sup>
          </div>
          <div class="text-2xl italic">Invested Capital</div>
        </div>
        <div
          id="leverage-stats"
          class="border-dotted border-0 border-t last:border-b lg:first:border-t-0 lg:last:border-b-0 border-[#666666] py-8"
        >
          <div class="text-[116px] leading-none" id="counter">
            355<sup class="text-4xl align-top">+</sup>
          </div>
          <div class="text-2xl italic">Transactions</div>
        </div>
        <div
          class="border-dotted border-0 border-t last:border-b lg:first:border-t-0 lg:last:border-b-0 border-[#666666] py-8"
        >
          <div class="text-[116px] leading-none" id="counter-2">
            12<sup class="text-4xl align-top">+</sup>
          </div>
          <div class="text-2xl italic">Years</div>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="lg:basis-1/3 mt-6 lg:hidden">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/88aca98b14b90d117fcd85ca0fe4d6ece37e45f1-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Jason Gregory
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">
            Chief Operating Officer
          </div>
          <a
            onclick="openModal(1)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="full-bio text-new-gold-primary cursor-pointer"
            data-cy="team-bio-jason-gregory"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
        <div class="lg:basis-1/3 mb-12 pb-2.5 hidden lg:block">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/8d96eb955e85048fd7c8f6fbe77f4e71263d1f9a-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Sam Klatt
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">
            Chief Investment Officer
          </div>
          <a
            onclick="openModal(2)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="text-new-gold-primary cursor-pointer"
            data-cy="team-bio-sam-klatt"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
        <div
          role="separator"
          class="mx-auto my-8 w-full md:w-1/3 h-[1px] text-new-gray-150/25 bg-current"
        ></div>
        <div class="lg:basis-1/3 mt-8">
          <div
            class="border border-dotted border-new-gold-primary rounded-full p-2 mx-auto mb-8 lg:mb-12"
            style="width: 153px; height: 153px"
          >
            <div
              class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
              style="width: 135px; height: 135px"
            >
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                    max-width: 100%;
                  "
                  ><img
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27153%27%20height=%27153%27/%3e"
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                    " /></span
                ><img
                  alt=""
                  src="https://cdn.sanity.io/images/cag6tbbe/production/bdc3f0a1fcb5c26f403efe153affa3817f67b85a-1689x1689.png?imwidth=384"
                  decoding="async"
                  data-nimg="intrinsic"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                  "
                  srcset="
                    https://cdn.sanity.io/images/cag6tbbe/production/bdc3f0a1fcb5c26f403efe153affa3817f67b85a-1689x1689.png?imwidth=256 1x,
                    https://cdn.sanity.io/images/cag6tbbe/production/bdc3f0a1fcb5c26f403efe153affa3817f67b85a-1689x1689.png?imwidth=384 2x
                  " /><noscript></noscript
              ></span>
            </div>
          </div>
          <h3
            class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-4"
          >
            Travis Stephens
          </h3>
          <div class="text-2xl italic lg:w-96 mb-3">Chief Strategy Officer</div>
          <a
            onclick="openModal(3)"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            class="text-new-gold-primary cursor-pointer full-bio"
            data-cy="team-bio-travis-stephens"
            style="
              display: flex !important;
              align-items: center;
              justify-content: center;
            "
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div
    role="separator"
    class="mx-auto my-8 lg:my-12 max-w-[1080px] text-new-gray-150/25"
  >
    <div class="relative flex items-center h-[16px] px-[16px]">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0"
      >
        <path
          d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
          stroke="currentColor"
        ></path>
        <path
          d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
          stroke="currentColor"
        ></path>
      </svg>
      <div class="h-[1px] w-full bg-current"></div>
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-0"
      >
        <path
          d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
          stroke="currentColor"
        ></path>
        <path
          d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
          stroke="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <div>
    <h3
      class="block font-amiri font-light text-new-gray-400 text-2xl md:text-3xl mb-10 text-center"
    >
      Advisors
    </h3>
    <div class="flex flex-col md:flex-row md:flex-wrap lg:gap-x-5">
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/14626b610e0208aaf2c9fc42789f364d86eaec5a-430x430.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/14626b610e0208aaf2c9fc42789f364d86eaec5a-430x430.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/14626b610e0208aaf2c9fc42789f364d86eaec5a-430x430.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0 md:border-r md:pr-5"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-jonathan-kolatch"
          >
            Jonathan Kolatch
          </h4>
          <div class="text-lg md:text-xl italic">Founder, Redwood Capital</div>
          <a
            onclick="openModal(4)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-jonathan-kolatch"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/2c57de009ca5e25b329484c5edf25713018ccee0-428x428.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/2c57de009ca5e25b329484c5edf25713018ccee0-428x428.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/2c57de009ca5e25b329484c5edf25713018ccee0-428x428.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-jonathan-kolber"
          >
            Jonathan Kolber
          </h4>
          <div class="text-lg md:text-xl italic">
            Chairman and CEO, Anfield Ltd.
          </div>
          <a
            onclick="openModal(5)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-jonathan-kolber"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/542103bbecb8baa6d0035e1695cefa88ee01e291-430x430.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/542103bbecb8baa6d0035e1695cefa88ee01e291-430x430.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/542103bbecb8baa6d0035e1695cefa88ee01e291-430x430.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0 md:border-r md:pr-5"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-d-randall-winn"
          >
            D. Randall Winn
          </h4>
          <div class="text-lg md:text-xl italic">
            Managing Partner, 22C Capital
          </div>
          <a
            onclick="openModal(6)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-d-randall-winn"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/6eb8f3f8f4ce95569418c2ab59c26bc73c68200f-430x430.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/6eb8f3f8f4ce95569418c2ab59c26bc73c68200f-430x430.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/6eb8f3f8f4ce95569418c2ab59c26bc73c68200f-430x430.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-ted-seides"
          >
            Ted Seides
          </h4>
          <div class="text-lg md:text-xl italic">
            Founder, Capital Allocators
          </div>
          <a
            onclick="openModal(7)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-ted-seides"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0 md:border-b-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/fa77c40ef5df5fffc21ed85f0c3c8a9a20a67810-853x852.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/fa77c40ef5df5fffc21ed85f0c3c8a9a20a67810-853x852.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/fa77c40ef5df5fffc21ed85f0c3c8a9a20a67810-853x852.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0 md:border-r md:pr-5"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-edgar-jannotta-jr-"
          >
            Edgar Jannotta, Jr.
          </h4>
          <div class="text-lg md:text-xl italic">
            Former Managing Principal of Healthcare Group, GTCR
          </div>
          <a
            onclick="openModal(8)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-edgar-jannotta-jr-"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
      <div
        class="flex gap-5 md:w-1/2 lg:w-[calc(33.3333%-14px)] border-solid border-new-gray-150 border-0 border-b last:border-b-0 lg:border-b-0 py-5 md:even:pl-5 lg:!px-0 md:border-b-0"
      >
        <div
          class="border border-dotted border-new-gold-primary rounded-full p-2"
          style="width: 100px; height: 100px"
        >
          <div
            class="rounded-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary overflow-hidden"
            style="width: 82px; height: 82px"
          >
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27100%27%20height=%27100%27/%3e"
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  " /></span
              ><img
                alt=""
                src="https://cdn.sanity.io/images/cag6tbbe/production/0d4ba27b8d54698b9ce2d63c3549d2f9c70dc0f7-414x414.png?imwidth=256"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  https://cdn.sanity.io/images/cag6tbbe/production/0d4ba27b8d54698b9ce2d63c3549d2f9c70dc0f7-414x414.png?imwidth=128 1x,
                  https://cdn.sanity.io/images/cag6tbbe/production/0d4ba27b8d54698b9ce2d63c3549d2f9c70dc0f7-414x414.png?imwidth=256 2x
                " /><noscript></noscript
            ></span>
          </div>
        </div>
        <div
          class="grow md:border-dotted md:border-new-gray-150 md:border-0 lg:border-r-0 lg:pr-0"
        >
          <h4
            class="block font-amiri font-light text-new-gray-400 text-lg md:text-xl"
            data-cy="advisor-name-john-hayes"
          >
            John Hayes
          </h4>
          <div class="text-lg md:text-xl italic">
            Former Chief Marketing Officer, American Express
          </div>
          <a
            onclick="openModal(9)"
            class="flex items-center text-new-gold-primary cursor-pointer"
            data-cy="advisor-bio-john-hayes"
            >Full bio
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              width="16"
              class="ml-1"
            >
              <path
                fill-rule="evenodd"
                d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div
    role="separator"
    class="mx-auto my-8 lg:my-12 max-w-[1080px] text-new-gray-150/25"
  >
    <div class="relative flex items-center h-[16px] px-[16px]">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0"
      >
        <path
          d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
          stroke="currentColor"
        ></path>
        <path
          d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
          stroke="currentColor"
        ></path>
      </svg>
      <div class="h-[1px] w-full bg-current"></div>
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-0"
      >
        <path
          d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
          stroke="currentColor"
        ></path>
        <path
          d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
          stroke="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  {% include 'sections/advisortestimony.html' %}
</div>
