<div
  class="mx-auto w-full max-w-[1320px] px-5 lg:px-10 py-5 lg:py-10 bg-new-charcoal-primary text-new-off-white-100"
>
  <div
    class="mx-auto w-full max-w-[870px] px-5 lg:px-10 mb-8 lg:mb-14 text-center"
  >
    <h2
      class="block font-amiri font-light text-new-gray-400 text-2xl md:text-3xl mx-auto max-w-[600px]"
    >
      Sample of recent investment opportunities previously available to our
      members.³
    </h2>
    <div
      role="separator"
      class="mx-auto my-8 w-full md:w-1/3 h-[1px] text-new-gray-150/25 bg-current lg:hidden"
    ></div>
  </div>
  <div class="relative mx-auto lg:mb-14 max-w-[365px] lg:max-w-none">
    <div
      id="sample-carousel"
      class="overflow-hidden"
      style="
        --dragOffset: 0px;
        --gap: 40px;
        --itemsInViewport: 3;
        --selectedIndex: 0;
      "
    >
      <div
        class="flex gap-[var(--gap)] transition-transform duration-300 items-stretch"
        style="
          transform: translateX(
            calc(
              (
                  (var(--selectedIndex) / var(--itemsInViewport)) *
                    (-100% - var(--gap))
                ) + var(--dragOffset)
            )
          );
        "
      >
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Fund Investment
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Sternway
              </h3>
              <div class="text-lg">Private Equity</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Investment in a concentrated private equity fund focused on
                established, cash-flow positive information service companies
                across the digital infrastructure, financial services,
                healthcare IT and supply chain sectors.
              </p>
            </div>
          </section>
        </div>
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Individual Investment
                </div>
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Healthcare / Dental
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Noble
              </h3>
              <div class="text-lg">Private Equity</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Investment in a convertible preferred equity security structured
                to provide growth capital to a dental service organization with
                substantial equity junior in the capital structure.
              </p>
            </div>
          </section>
        </div>
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Individual Investment
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Lodge
              </h3>
              <div class="text-lg">Real Estate</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Acquisition of a hotel in the Sierra Nevada region with an
                attractive target cash-on-cash net yield over the estimated
                five-year hold period and additional upside potential from
                improved revenue management and food and beverage services.
              </p>
            </div>
          </section>
        </div>
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Fund Investment
                </div>
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Transportation &amp; Logistics
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Skysail
              </h3>
              <div class="text-lg">Private Equity</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Investment in a concentrated private equity fund focused on
                investing in cash-flow positive businesses within the
                transportation, logistics and distribution markets.
              </p>
            </div>
          </section>
        </div>
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Fund Investment
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Windward
              </h3>
              <div class="text-lg">Private Credit | Real Estate</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Investment in a real estate private credit fund focused on
                providing multifamily construction financing to experienced
                sponsors in NYC and high growth markets in the U.S. southeast.
              </p>
            </div>
          </section>
        </div>
        <div
          class="shrink-0"
          style="
            width: calc(
              (100% / var(--itemsInViewport)) -
                (
                  ((var(--itemsInViewport) - 1) / var(--itemsInViewport)) *
                    var(--gap)
                )
            );
          "
        >
          <section class="flex flex-col h-full">
            <header
              class="rounded-t-lg p-8 bg-gradient-to-br from-new-charcoal-primary/50 to-[#73523755] text-new-off-white-100 text-center"
            >
              <div
                class="flex flex-col gap-2.5 justify-center mb-8 lg:h-[58px]"
              >
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Individual Investment
                </div>
                <div
                  class="px-3 pt-1.5 pb-1 rounded-full font-amiri font-bold text-xs text-center uppercase leading-tight whitespace-nowrap bg-new-off-white-100 text-new-charcoal-primary"
                >
                  Litigation Finance
                </div>
              </div>
              <h3
                class="block font-amiri font-light text-new-gray-400 text-[1.75rem] leading-[2rem] md:text-4xl mb-2"
              >
                Project Mainsail
              </h3>
              <div class="text-lg">Private Credit</div>
            </header>
            <div
              class="grow rounded-b-lg p-8 bg-new-off-white-100 text-lg text-new-charcoal-primary"
            >
              <p class="leading-normal font-amiri">
                Investment in a litigation-finance vehicle that funds a variety
                of claims, including "Dieselgate," the Volkswagen emissions
                scandal.
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="mt-6 flex gap-6 justify-center items-center">
      <span
        onclick="samplePrevious();"
        class="-mb-1 text-new-gray-100 hover:text-new-gold-primary leading-none cursor-pointer invisible"
        title="Previous"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          width="32"
        >
          <path
            fill-rule="evenodd"
            d="M7.28 7.72a.75.75 0 010 1.06l-2.47 2.47H21a.75.75 0 010 1.5H4.81l2.47 2.47a.75.75 0 11-1.06 1.06l-3.75-3.75a.75.75 0 010-1.06l3.75-3.75a.75.75 0 011.06 0z"
            clip-rule="evenodd"
          ></path></svg
      ></span>
      <div class="flex gap-[9px]" id="sample-carousel-buttons">
        <span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer bg-new-gray-100 hover:bg-new-gold-primary"
        ></span
        ><span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer bg-new-gray-100 hover:bg-new-gold-primary"
        ></span
        ><span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer bg-new-gray-100 hover:bg-new-gold-primary"
        ></span
        ><span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer !bg-new-gold-primary"
        ></span
        ><span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer !bg-new-gold-primary"
        ></span
        ><span
          class="block w-[9px] h-[9px] rounded-full cursor-pointer !bg-new-gold-primary"
        ></span>
      </div>
      <span
        onclick="sampleNext();"
        class="-mb-1 text-new-gray-100 hover:text-new-gold-primary leading-none cursor-pointer"
        title="Next"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          width="32"
        >
          <path
            fill-rule="evenodd"
            d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          ></path></svg
      ></span>
    </div>
  </div>
  <div
    role="separator"
    class="mx-auto my-8 w-full md:w-1/3 h-[1px] text-new-gray-150/25 bg-current lg:hidden"
  ></div>
  <aside
    class="rounded-lg border-dotted border-new-gold-primary border p-1.5 mb-8 lg:mb-14"
  >
    <div
      class="flex flex-col lg:flex-row gap-14 items-center rounded-lg p-4 md:p-10 bg-gradient-to-b from-new-gold-primary/0 to-new-gold-primary/10"
    >
      <h2
        class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl"
      >
        Since inception, our investment principals have historically compounded
        capital at attractive rates of return.⁴ Members can view our historical
        track record.
      </h2>
      <button
        type="button"
        class="inline-block border font-amiri font-bold text-base leading-[22px] whitespace-nowrap border-dotted border-new-gold-primary p-1.5 group bg-transparent text-new-charcoal-primary tracking-[0.3em] uppercase w-full lg:w-auto"
        data-cy="view-track-record"
      >
        <span
          class="flex items-center justify-center w-full h-full bg-gradient-to-r from-new-gold-primary to-new-purple-primary hover:from-new-gold-primary/75 hover:to-new-purple-primary/75 px-[26px] pt-[15px] pb-[13px]"
          >Track Record</span
        >
      </button>
    </div>
  </aside>
  <section class="text-center text-lg">
    <div class="mx-auto w-full max-w-[870px] px-5 lg:px-10 mb-8 lg:mb-14">
      <h2
        class="block font-amiri font-light text-new-gray-400 text-2xl md:text-3xl mb-8"
      >
        Our team sources, diligences, and provides ongoing monitoring for all
        investments.
      </h2>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div
        class="flex flex-col mx-auto max-w-[360px] lg:max-w-none lg:w-1/3 py-8 first:pt-0 last:pb-0 lg:py-0 lg:px-8"
      >
        <h3
          class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-8"
        >
          We invest
        </h3>
        <p class="leading-normal font-amiri mb-8 text-lg md:text-xl">
          We typically invest in 15-30 opportunities each year, notifying
          members of investment opportunities on a rolling basis.
        </p>
        <div class="mt-auto">
          <span
            style="
              box-sizing: border-box;
              display: inline-block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: relative;
              max-width: 100%;
            "
            ><span
              style="
                box-sizing: border-box;
                display: block;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                max-width: 100%;
              "
              ><img
                alt=""
                aria-hidden="true"
                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2764%27%20height=%2764%27/%3e"
                style="
                  display: block;
                  max-width: 100%;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                " /></span
            ><img
              alt=""
              src="https://cdn.sanity.io/images/cag6tbbe/production/2237037247822a38fa72c2912601e619699b104e-64x64.svg?imwidth=128"
              decoding="async"
              data-nimg="intrinsic"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                https://cdn.sanity.io/images/cag6tbbe/production/2237037247822a38fa72c2912601e619699b104e-64x64.svg?imwidth=64  1x,
                https://cdn.sanity.io/images/cag6tbbe/production/2237037247822a38fa72c2912601e619699b104e-64x64.svg?imwidth=128 2x
              " /><noscript></noscript
          ></span>
        </div>
      </div>
      <div
        class="flex flex-col mx-auto max-w-[360px] lg:max-w-none lg:w-1/3 py-8 first:pt-0 last:pb-0 lg:py-0 lg:px-8 border-dotted border-0 border-y border-new-gray-150 lg:border-y-0 lg:border-x"
      >
        <h3
          class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-8"
        >
          Members invest
        </h3>
        <p class="leading-normal font-amiri mb-8 text-lg md:text-xl">
          Members invest at their discretion, on a deal-by-deal basis, alongside
          our investment principals.
        </p>
        <div class="mt-auto">
          <span
            style="
              box-sizing: border-box;
              display: inline-block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: relative;
              max-width: 100%;
            "
            ><span
              style="
                box-sizing: border-box;
                display: block;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                max-width: 100%;
              "
              ><img
                alt=""
                aria-hidden="true"
                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2764%27%20height=%2764%27/%3e"
                style="
                  display: block;
                  max-width: 100%;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                " /></span
            ><img
              alt=""
              src="https://cdn.sanity.io/images/cag6tbbe/production/faacc4a0e8ca0841b5abeb55732e6196f39e2f27-64x64.svg?imwidth=128"
              decoding="async"
              data-nimg="intrinsic"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                https://cdn.sanity.io/images/cag6tbbe/production/faacc4a0e8ca0841b5abeb55732e6196f39e2f27-64x64.svg?imwidth=64  1x,
                https://cdn.sanity.io/images/cag6tbbe/production/faacc4a0e8ca0841b5abeb55732e6196f39e2f27-64x64.svg?imwidth=128 2x
              " /><noscript></noscript
          ></span>
        </div>
      </div>
      <div
        class="flex flex-col mx-auto max-w-[360px] lg:max-w-none lg:w-1/3 py-8 first:pt-0 last:pb-0 lg:py-0 lg:px-8"
      >
        <h3
          class="block font-amiri font-light text-new-gray-400 text-xl md:text-2xl mb-8"
        >
          Ongoing reporting
        </h3>
        <p class="leading-normal font-amiri mb-8 text-lg md:text-xl">
          We provide ongoing reporting on investment performance and investor
          relations services.
        </p>
        <div class="mt-auto">
          <span
            style="
              box-sizing: border-box;
              display: inline-block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: relative;
              max-width: 100%;
            "
            ><span
              style="
                box-sizing: border-box;
                display: block;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                max-width: 100%;
              "
              ><img
                alt=""
                aria-hidden="true"
                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2764%27%20height=%2764%27/%3e"
                style="
                  display: block;
                  max-width: 100%;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                " /></span
            ><img
              alt=""
              src="https://cdn.sanity.io/images/cag6tbbe/production/2ab856a5f0e859a24cc42779f85d28b083009704-64x64.svg?imwidth=128"
              decoding="async"
              data-nimg="intrinsic"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                https://cdn.sanity.io/images/cag6tbbe/production/2ab856a5f0e859a24cc42779f85d28b083009704-64x64.svg?imwidth=64  1x,
                https://cdn.sanity.io/images/cag6tbbe/production/2ab856a5f0e859a24cc42779f85d28b083009704-64x64.svg?imwidth=128 2x
              " /><noscript></noscript
          ></span>
        </div>
      </div>
    </div>
  </section>
</div>
