<div
  role="separator"
  class="mx-auto my-8 lg:my-12 max-w-[1080px] text-new-gray-150/25"
>
  <div class="relative flex items-center h-[16px] px-[16px]">
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute left-0"
    >
      <path
        d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
        stroke="currentColor"
      ></path>
      <path
        d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
        stroke="currentColor"
      ></path>
    </svg>
    <div class="h-[1px] w-full bg-current"></div>
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute right-0"
    >
      <path
        d="M15.2929 8L8 15.2929L0.707108 8L8 0.707107L15.2929 8Z"
        stroke="currentColor"
      ></path>
      <path
        d="M8 11.2929L4.70711 8L8 4.70711L11.2929 8L8 11.2929Z"
        stroke="currentColor"
      ></path>
    </svg>
  </div>
</div>
